[submodule ".config/powershell"]
	path = .config/powershell
	url = https://github.com/perXautomatik/Powershell-Profile
[submodule "AHK"]
path = autohotkey
url = https://github.com/perXautomatik/AHK-EverydayScripts
[submodule "AppData"]
path = AppData
url = https://github.com/perXautomatik/AppData
[submodule "Documents"]
	path = Documents
	url = https://github.com/perXautomatik/AppData.git
[submodule "Git"]
	path = .config/git
url = https://gist.github.com/perXautomatik/e01f68f13580acea470e1ae1ce680a15
[submodule ".config/powershell"]
	path = .config/powershell
	url = https://github.com/perXautomatik/Powershell-Profile
[submodule "xEditScripts"]
	path = xEditScripts
	url = https://github.com/perXautomatik/xEditScripts
[submodule ".config/git"]
	path = .config/git
	url = https://gist.github.com/perXautomatik/e01f68f13580acea470e1ae1ce680a15
