*.*.bak
*.~
*.~*
*.~yml
*.0-win32-x64
*.7z
*.bak
*.db
*.dll
*.exe
*.gif
*.lock
*.png
*.postlock
*.prelock
*.pyc
*.pyi
*.rb
*.rdoc
*.ri
*.sqlite
*.txt.0
*.vscdb
*.vscdb.backup
*.zip
__init__.py
_lock_
beeftext/Data/Backup
cache
Cache
Cache_Data
CachedData
CachedExtensionVSIXs
CachedProfilesData
CacheStorage
Code Cache
DawnCache
doc
flow-launcher/UserData/Cache
flow-launcher/UserData/Environments/Python/PythonEmbeddable-v3.8.9
flow-launcher/UserData/Logs/1.15.0
flow-launcher/UserData/Plugins
GPUCache
gravatar-cache
LICENSE
Local Storage/leveldb
LOCK
LOG
LOG.old
MANIFEST-000001
nodejs/bin/node_modules/git-pull-all
nodejs/cache
obsolete
python/Lib/site-packages
REQUESTED
ruby/gems/bin
ruby/gems/doc/rake-13.0.6/ri
ScriptCache
Service Worker/Database
SmartGit/.settings/logs
snappy-driver-installer-origin/indexes/SDI
snappy-driver-installer-origin/logs
snappy-driver-installer-origin/update/SDIO_Update/tools/SDI/langs
sophiapp/Logs
the-real-index
vscodium/data/extensions
vscodium/data/user-data/Backups
vscodium/data/user-data/Network
vscodium/data/user-data/Session Storage
vscodium/data/user-data/WebStorage
vscodium\data\extensions\pycom.pymakr-preview-2.25.2\src\terminal\bin
vscodium\data\extensions\pycom.pymakr-preview-2.25.2\src\terminal\bin\client-macos
