Teams
Unity
Valve Corporation
Visual Studio Setup
vlc
vs_installershell
vstelemetry
Wizards of the Coast
WMCore
Zoom
ZoomRooms
winscp.rnd
.mono
Adobe
BnB_Saves
CyberLink
desktopApp
DigitalPersona
discord
dvdcss
FLEXnet
GitHub Desktop
GitHub Desktop.BackupByGitHubDesktopPortable
Hewlett-Packard
HP
hpqLog
Identities
Intel
Intel Corporation
Intel.sav
Macrovision
MarcoMastroddiSW
Media Center Programs
Microsoft
Microsoft FxCop
NuGet
Nutaku
OpenOffice
Opera Software
RenPy
Sierra Wireless
Skype
Slack
Spotify
SquirrelTemp
Sun
Synaptics
tapdb