[submodule "Modules"]
	path = Modules
	url = https://github.com/perXautomatik/PowerShell-Scripts.git
	branch = Modules
[submodule "Snipps/EnvPath"]
	path = Snipps/EnvPath
	url = https://gist.github.com/2281de51f26338d8e273b0161785ed72
[submodule "Snipps"]
	path = Snipps
	url = https://github.com/perXautomatik/Ps1-PowerShellModule.git
